.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: coral;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: relative;
  margin: 0;
}

.interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: brown;
  border-radius: 5px;
  padding: 20px;
  color: white;
  gap: 20px;
}

.text {
  font-size: 20px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.screen {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: white;
  gap: 10px;
}

.hidden {
  display: none;
}

.heading {
  font-size: 30px;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}
